body {
    background-color: goldenrod;
  }
  
  h1 {
    color: white;
    margin-left: 20px;
  }

#main section{
    flex: 1;
    border: 1px solid green;
    display: flex;
    align-items: center;
}